@charset "utf-8";

html{
    font-family: sans-serif;
}

body{
    margin: 0 auto;
    background-color: white;
    max-width: 960px;
}

#concept p,#zikoshoukai p,#sakuhin p{
    margin-left: 10px;
    margin-right: 10px;
}

/*タイトル画像*/
.title{
    text-align: center;
    margin: 10px 0;
    line-height: 0%;
    float: left;
}

/*ナビゲーション*/
nav{
    width: 960px;
}

nav ul{
    margin: 0;
    padding: 80px 10px 0 20px;
    font-weight: bold;
    text-align: right;
}

nav li{
    display: inline;
    list-style-type: none;
    padding-right: 30px;
    padding-left: 0;
    border-right: 1px solid #3f5170;
}

a:link {
	color: #d25833;
}

a:visited {
	color: #d25833;
}

a:hover {
	color: #e3937a;
}

a:active {
	color: #ff6a3b;
}

/*メイン画像*/
.pc{
    margin: 10px 0;
}

h1{
    clear: both;
}

/*表題*/
h2{
    color: #3f5170;
    font-size: 22px;
    border-bottom: 3px solid #3f5170;
    margin: 20px 0;
    padding: 5px 5px 0 5px;
}

/*スキル*/
#skill h2{
    margin-bottom: 30px;
}

.html img{
    float: left;
    width: 460px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.html p,.css p,.javascript p{
    padding: 100px 10px 0;
}

.css{
    clear: both;
}

.css img{
    float: right;
    width: 460px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.javascript{
    clear: both;
}

.javascript img{
    float: left;
    width: 460px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.more{
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
}

/*フッター*/
footer{
    padding-top: 10px;
    border-top: 5px solid #3f5170;
}

footer p{
    margin-bottom: 30px;
    text-align: center;
}

/*959以下の場合*/
@media(max-width:959px){
    .title{
        float: none;
    }

    .pc img{
        max-width: 100%;
        height: auto;
    }
    nav ul{
        text-align: left;
        padding-top: 10px;
    }

    .html img,.css img,.javascript img{
        max-width: 50%;
        height: auto;
    }

    .html p,.css p,.javascript p{
        padding: 10px;
    }
}